.dashboard {
   width: 100%;

   &__profile {
      //   top: 0%;
      width: 100%;
      position: relative;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }
}
